{% extends 'base.html.twig' %}

{% block title %}Edit Personal{% endblock %}

{% block body %}
    <h1>Editar Personal</h1>

    {{ include('personal/_form.html.twig', {'button_label': 'Actualizar'}) }}
    <a class="btn btn-primary mt-2 mb-2" href="{{ path('personal_index') }}">Volver a la Lista</a>

    {{ include('personal/_delete_form.html.twig') }}
{% endblock %}
