<div class="container-fluid">
    <div class="row bg-gradient bg-azul">
            {% if app.request.pathinfo == '/principal' %}
            
                <div class="mt-2 col-3 col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-2 mt-2">
                    <img src="/img/logo3.png" id="logosize"/>
                </div>
                <div class="col-8 col-xxl-8 col-xl-8 col-lg-7 col-md-7 col-sm-7 mt-2">
                    <h1 class="fw-bolder text-warning">Aerovuelo Co.</h1>
                    <h2 class="fst-italic sub">El vuelo de tu vida...</h2>
                </div>
                <div class="col-2"><p class="p2 mb-1 float-end">Bienvenid@<span class="fw-bold"> Usuario</span></p></div>
                <div class="col-1 mt-2">
                    <a href="#"class="btn btn-danger bg-gradient mt-xl-4 mt-lg-4 mb-lg-1 mb-md-1 mb-sm-1 mb-1 float-end">
                    <i class="fas fa-power-off"></i></a>
                </div>
            {% else %}
                <div class="col-9 col-xxl-9 col-xl-9 col-lg-9 col-md-9 col-sm-9 mt-2">
                    <h1 class="fw-bolder text-warning">Aerovuelo Co.</h1>
                    <h2 class="fst-italic sub">El vuelo de tu vida...</h2>
                </div>
                <div class="col-2"><p class="p2 mb-1 float-end">Bienvenid@<span class="fw-bold"> Usuario</span></p></div>
                <div class="col-1 mt-2">
                    <a href="#"class="btn btn-danger bg-gradient mt-xl-4 mt-lg-4 mb-lg-1 mb-md-1 mb-sm-1 mb-1 float-end">
                    <i class="fas fa-power-off"></i></a>
                </div>
            {% endif %}

        </div>
    </div>
    <div class="row">
            <div class="col-12">
                <div class="line"></div>
            </div>
        </div>
</div>