<div class="container-fluid">
    <div class="row mt-1 mb-1">
        <div class="col-12">
            <a href={{path('principal')}} class="btn btn-success mt-2"><i class="fas fa-undo-alt"></i></a>
        </div>
    </div>
</div>