{% extends 'base.html.twig' %}

{% block title %}Edit VuelosPersonal{% endblock %}

{% block body %}
    <h1>Editar Personal en Vuelo</h1>

    {{ include('vuelos_personal/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a class="btn btn-primary mt-2" href="{{ path('vuelos_personal_index') }}">Volver a la Lista</a>

    {{ include('vuelos_personal/_delete_form.html.twig') }}
{% endblock %}
