<form method="post" action="{{ path('aviones_delete', {'id': avione.id}) }}" onsubmit="return confirm('¿Deseas eliminar el avión {{avione.tipo}}?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ avione.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
