{% extends 'base.html.twig' %}

{% block title %}New Aviones{% endblock %}

{% block body %}
    <h1>Crear un nuevo avión:</h1>

    {{ include('aviones/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('aviones_index') }}">Volver a la lista</a>
{% endblock %}
