{% extends 'base.html.twig' %}

{% block title %}Aviones{% endblock %}

{% block body %}
<div class="card mt-3">
    <h5 class="card-header bg-azul text-white">Consulta General</h5>
    <div class="card-body">
        <h5 class="card-title">Información en los Aviones</h5>
        <p class="card-text">Consulta aquí la información de todos los aviones</p>
        <a class="btn btn-warning" href="{{path('aviones_index')}}">Ir a lista</a>
    </div>
</div>

<div class="card mt-3">
  <h5 class="card-header bg-azul text-white">Consulta Específica</h5>
  <div class="card-body">
    <h5 class="card-title">Avión usado por pilotos</h5>
    <p class="card-text">Consulta aquí que pilotos han usado un determinado avión</p>
    <a class="btn btn-warning" href={{path('consulta_pilotos_aviones')}}>Hacer la consulta</a>
  </div>
</div>

<div class="card mt-3">
  <h5 class="card-header bg-azul text-white">Consulta Específica</h5>
  <div class="card-body">
    <h5 class="card-title">Aviones Disponibles</h5>
    <p class="card-text">Consulta aquí los aviones disponibles</p>
    <a class="btn btn-warning" href={{path('consulta_disponible_aviones')}}>Hacer la consulta</a>
  </div>
</div>
{% endblock %}