{% extends 'base.html.twig' %}

{% block title %}Editar Base{% endblock %}

{% block body %}
    <h1>Edit Bases</h1>

    {{ include('bases/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary mb-2" href="{{ path('bases_index') }}">Volver a la Lista</a>

    {{ include('bases/_delete_form.html.twig') }}
{% endblock %}
