{% extends 'base.html.twig' %}

{% block title %}Edit Aviones{% endblock %}

{% block body %}
    <h1 class="mt-3">Buscar Avión</h1>

    {{ include('aviones/_form.html.twig', {'button_label': 'Buscar'}) }}

    <a class="btn btn-primary mb-2" href="{{ path('aviones_index') }}">Volver a la Lista</a>

    {{dump(baseaviones)}}
    {# {{ include('aviones/_delete_form.html.twig') }} #}
{% endblock %}