{% extends 'base.html.twig' %}

{% block title %}Nuevo Vuelo{% endblock %}

{% block body %}
    <h1 class="mt-3">Crear nuevo Vuelo</h1>

    {{ include('vuelos/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('vuelos_index') }}">Volver a la Lista</a>
{% endblock %}
