{% extends 'base.html.twig' %}

{% block title %}Nuevo User{% endblock %}

{% block body %}
    <h1>Crear nuevo Usuario</h1>

    {{ include('user/_form.html.twig') }}

    <a class="btn btn-primary mt-2" href="{{ path('user_index') }}">Regresar a la Lista</a>
{% endblock %}
